# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
*.egg-info/

# Data / Cache
instance/
nltk_data/
